{# Modal pour édition de NC #}
<div class="modal fade" id="editnc" tabindex="-1" aria-labelledby="editncLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editncLabel">Modifier la non-conformité</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editNcForm" class="senddata nc-form" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="ncId" id="editNcId">
                <input type="hidden" name="criterionId" id="editCriterionId">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="edit-impact" class="form-label">Impact</label>

                        <select class="form-select" id="edit-impact" name="impact"  required>
                            <option>Majeur</option>
                            <option>Fort</option>
                            <option>Modéré</option>
                            <option>Faible</option>         
                        </select>
                        <div class="form-text">
                            <a href="https://disic.github.io/guide-impacts_utilisateurs/" target="_blank" rel="noopener">
                                Voir le guide impacts utilisateurs
                            </a>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="edit-description" class="form-label">Description</label>
                        <textarea class="form-control" id="edit-description" name="description" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="edit-screenshot" class="form-label">Capture d'écran :</label>
                        <input type="file" class="form-control" id="edit-screenshot" name="screenshot" accept="image/jpeg">
                        <div id="current-screenshot" class="mt-2"></div>
                    </div>
                    <div class="mb-3">
                        <label for="edit-solution" class="form-label">Solution proposée</label>
                        <textarea class="form-control" id="edit-solution" name="solution" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">
                        Enregistrer
                        <span class="spinner-border spinner-border-sm d-none" role="status">
                            <span class="visually-hidden">Chargement...</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>