
/* Bases  */

html,body{
  color:#071F32;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  margin: 0;
  
}
.container-fluid{
  padding: 0;
  margin: 0;
}
.hide{
  display: none;
}
#app{
  margin-top: 24px;
}
/* new */
.collapse-row {
  background-color: #f8f9fa;
  
  .card {
      background: transparent;
  }
  
  .card-body {
      padding: 1.25rem;
  }
}

.wrapper_ncs {
  .card {
      background: white;
      margin-bottom: 1rem;
      
      .card-title {
          font-size: 1.8rem;
          margin-bottom: 0.5rem;
          color: #666;
          font-weight: bold;
      }
  }
}

button.add-nc {
  margin-right: 1rem;
}

.wrapper_ncs{
  .card{
    width: 200px;
  }
}
.table{
  tr{
    th{
      position: relative;
      small{
        position: absolute;
        top: 15px;
        right: 11px;
        font-size: 1.2rem;
      }
    }
    th,td{
      border: 1px solid #000;
      vertical-align: middle;
      padding: 1rem;
      font-size: 3rem;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5){
        text-align: center;

      }
      &:nth-child(4){
        min-width:170px ;
      }
    }
    td.collapse_container{
      padding: 0;
      border: none;
    }
  }
}
.head{
  padding: 5rem;
}
.statut{
  position: relative;
  border-left:2px solid #666;
  &-NC{
    border-left:2px solid #dc3545;
  }
  &-NA{
    border-left-color:#666; 
  }
  &-NT{
    border-left-color:#5bc0de;;
  }
  &-C{
    border-left-color:#28a745;
  }
}
.taux{
  font-size: 18px;
}
h1{
  margin: 0;
  padding: 0;
  display: flex
;
  align-items: center;
}
.audit-actions{

  button{
    margin: 8px;
    min-width: max-content;
  }
}
.accordion-collapse.collapse{
  .card{
    opacity: 0;
    transition-delay: 0s;
  }
  &.show{
    .card{
      opacity: 1;
      transition: opacity 2s ease-in-out;
      transition-delay: 1s;
    }
  }
} 

.wrapper_ncs{
  --bs-gutter-x: 0;
  .card {
    border: 1px solid #000;
    border-radius: 0;
    width: 20%;
    min-width: 200px;
    .card-header{
      font-size: 1.8rem;
      border-bottom: 1px solid #000;
    }
    &-text{
      font-size: 1.8rem;
    }
    p{
      font-size: 1.5rem;
    }
  }
} 